// $BaseType
$font-weight: normal;
$line-height: 1.65;
$mobile-font-size: 100;
$mobile-font-base: 16 * ($mobile-font-size/100);
$font-size: 100; // percentage value (16 * 112.5% = 18px)
$font-base: 17 * ($font-size/100); // converts our percentage to a pixel value
$font-family: serif; // Place your body font here, replace fallbacks as needed
$heading-font-family: sans-serif; // Place your heading font here, replace fallbacks as needed

// $Paragraphs
$indent-val: 1.5em;

// Paragraph Styling Boolean
$paragraph-vertical-whitespace: false;

// $Icon-Font-Helper
$icon-fonts: null;

// $Pull-Quotes
$pull-quote-fontsize: 4em;
$pull-quote-opacity: 0.5;
$pull-quote-color: #dc976e;

// $Citation
$cite-display: block;
$cite-text-align: right;
$cite-font-size: inherit;
