.menu {
  padding: 0;
  margin: 0;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    text-align: right;
  }
  li {
    list-style: none;
    margin: 0;
    display: block;
    padding: 0;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
      line-height: 3em;
    }
    a {
      font-weight: 500;
      font-size: 1em;
      transition: color .5s ease;
      padding: .75em 1em;
      display: block;
      color: #000;
      text-transform: uppercase;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        margin-left: 1.5em;
        padding: 0;
      }
      &:hover {
        color: $color-one;
      }
      &:active {
        top: 1px;
        position: relative;
      }
    }
  }
  a, a:visited {
    text-decoration: none;
  }
}
.js .main-nav .menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    max-height: none;
  }
  &.show {
    max-height: 500px;
  }
}
.js .menu-btn {
  padding: 1em;
  background: $color-one;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: none;
  }
  img {
    padding-right: .5em;
  }
}
.no-js .menu-btn {
  display: none;
}
