/* ==========================================================================
    Add your print styles here - These are borrowed from the HTML Boilerplate.
    https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 20, ../sass/print.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 32, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 37, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 41, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 50, ../sass/print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 55, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 66, ../sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 70, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 75, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 79, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 86, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
