.logo {
  text-align: center;
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(4,1,$gutter:0);
  }
}
.main-nav {
  @include breakpoint($bp-medium, $no-query: ".no-mq") {
    @include grid-span(8,5);
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}